OPENAI_API_KEY = <your-open-ai-key>
ANTHROPIC_API_KEY = <your-anthropic-key>
SERPER_API_KEY = <your-serper-key>

WOLFRAM_ALPHA_APPID = <your-wolfram-alpha-appid>

DISCORD_TOKEN = <your-discord-token>
ALLOWED_CHANNELS = <allowed-channels-seperated-by-comma>
ADMIN_USER_IDS = <admin-user-ids-seperated-by-comma>

MONGO_URI_LOCAL= <the-mongo-uri-to-use-when-running-locally>
MONGO_URI_DOCKER= <the-mongo-uri-to-use-when-running-in-docker>

MONGODB_DATABASE_NAME = <the-mongo-database-name>
MONGODB_CHAT_HISTORY_COLLECTION_NAME = <the-mongo-collection-name-for-chat-history>


PATH_TO_STUDENT_INFO_CSV =  <path-to-thing>
PATH_TO_STUDENT_INFO_JSON = <path-to-thing>
UUID_MAP_JSON_PATH = <path-to-thing>

PATH_TO_COURSE_DROPBOX_FOLDER = <path-to-thing>
PATH_TO_COURSE_DATABASE_BACKUPS = <path-to-thing>
COURSE_SERVER_ID = <course-server-id>